.form-control-file {
  position: relative;
  width: 100%;
  min-height: 8em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  background-color: #c61c23;
  &:before {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 7em;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 0.25em dashed currentColor;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
  }
  &:hover {
    &:before {
      border-style: solid;
      box-shadow: inset 0px 0px 0px 0.25em currentColor;
    }
  }
}

.carousel {
  max-width: 8em;
}

.carousel-control-prev, .carousel-control-next {
  height: 20%;
  position: absolute;
  top: 40%;
  background-color: gray;
}